In [ ]:
#!pip install pulp
#!pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: pip install --upgrade pip

In [1]:
from algorithm_final import optimize_course_matching, load_data_first, load_data_second, optimize_lab_matching

In [2]:
load_data_first()

(    course_id                   course_name  mandatory  program_id  has_lab
 0           1              Machine Learning          1           1        1
 1           2  Data structure and algorithm          1           1        1
 2           3                 Deep learning          0           1        1
 3           4   Natural Language Processing          0           1        1
 4           5            Law and Governance          0           1        0
 5           6                  Statistics 2          1           2        1
 6           7                   Economics 2          1           2        1
 7           8                 Global Ethics          0           2        0
 8           9         Development Economics          0           2        1
 9          10            Law and Governance          0           2        0
 10         11                  Statistics 2          1           3        1
 11         12       International Diplomacy          1           3        1
 12         13                  UN Structure          0           3        0
 13         14                 Global Ethics          0           3        0
 14         15        International Security          0           3        0,
    student_id name program  program_id  required_electives
 0        2501    A     MDS           1                   2
 1        2502    B     MIA           3                   2
 2        2503    C     MPP           2                   2
 3        2504    D     MDS           1                   2
 4        2505    E     MIA           3                   2
 5        2506    F     MPP           2                   2
 6        2507    G     MDS           1                   2,
    course_id                  course_name  capacity
 0          3                Deep learning         5
 1          4  Natural Language Processing         2
 2          5           Law and Governance         7
 3          8                Global Ethics         4
 4          9        Development Economics         5
 5         10           Law and Governance         4
 6         13                 UN Structure         8
 7         14                Global Ethics         4
 8         15       International Security         4,
     student_id  program_id  course_id  preference_rank
 0         2501           1          4                1
 1         2501           1          3                2
 2         2501           1          5                3
 3         2502           3         15                1
 4         2502           3         14                2
 5         2502           3         13                3
 6         2503           2          9                1
 7         2503           2          8                2
 8         2503           2         10                3
 9         2504           1          5                1
 10        2504           1          4                2
 11        2504           1          3                3
 12        2505           2         10                1
 13        2505           2          9                2
 14        2505           2         10                3
 15        2506           2          8                1
 16        2506           2         10                2
 17        2506           2          9                3
 18        2507           1         15                1
 19        2507           1         14                2
 20        2507           1         13                3)

In [3]:
optimize_course_matching()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/_m/yzl8twvn45zbf_rk8q3h5wl80000gn/T/a78de509e3e44330b9075d5c06af2164-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/_m/yzl8twvn45zbf_rk8q3h5wl80000gn/T/a78de509e3e44330b9075d5c06af2164-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 35 COLUMNS
At line 308 RHS
At line 339 BOUNDS
At line 417 ENDATA
Problem MODEL has 30 rows, 77 columns and 98 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 133 - 0.00 seconds
Cgl0004I processed model has 5 rows, 15 columns (15 integer (15 of which binary)) and 15 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -133
Cbc0038I Before mini branch and bound, 15 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I After 0.02 seconds - Feasibility pump exiting with objective of -133 - took 0.00 seconds
Cbc0012I Integer solution of -133 found by feasibility pump after 0 iterations and 0 nodes (0.02 seconds)
Cbc0001I Search completed - best objective -133, took 0 iterations and 0 nodes (0.02 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -133 to -133
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                133.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.02

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.03

Course matching completed. Results saved to student_course_matching.csv

,student_id,student_name,course_type,course_id,course_name
0,2501,A,Mandatory,1,Machine Learning
1,2501,A,Mandatory,2,Data structure and algorithm
2,2501,A,Elective,3,Deep learning
3,2501,A,Elective,4,Natural Language Processing
4,2502,B,Mandatory,11,Statistics 2
5,2502,B,Mandatory,12,International Diplomacy
6,2502,B,Elective,14,Global Ethics
7,2502,B,Elective,15,International Security
8,2503,C,Mandatory,6,Statistics 2
9,2503,C,Mandatory,7,Economics 2
10,2503,C,Elective,8,Global Ethics
11,2503,C,Elective,9,Development Economics
12,2504,D,Mandatory,1,Machine Learning
13,2504,D,Mandatory,2,Data structure and algorithm
14,2504,D,Elective,4,Natural Language Processing
15,2504,D,Elective,5,Law and Governance
16,2505,E,Mandatory,11,Statistics 2
17,2505,E,Mandatory,12,International Diplomacy
18,2505,E,Elective,13,UN Structure
19,2505,E,Elective,14,Global Ethics
20,2506,F,Mandatory,6,Statistics 2
21,2506,F,Mandatory,7,Economics 2
22,2506,F,Elective,8,Global Ethics
23,2506,F,Elective,10,Law and Governance
24,2507,G,Mandatory,1,Machine Learning
25,2507,G,Mandatory,2,Data structure and algorithm
26,2507,G,Elective,3,Deep learning
27,2507,G,Elective,5,Law and Governance

In [4]:
optimize_lab_matching()

Initial Data Analysis:
Total students in course matching: 7
Total lab time entries: 18
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/felipe_q/Desktop/AI_models/COMPUTER_SCIENCE/dsavenv/lib/python3.12/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/_m/yzl8twvn45zbf_rk8q3h5wl80000gn/T/8c1f0a72982945359c7a8417d3aa7920-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/_m/yzl8twvn45zbf_rk8q3h5wl80000gn/T/8c1f0a72982945359c7a8417d3aa7920-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 24 COLUMNS
At line 172 RHS
At line 192 BOUNDS
At line 231 ENDATA
Problem MODEL has 19 rows, 38 columns and 38 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 153 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -153 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                153.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.00

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00


Solver Status: Optimal
Course matching completed. Results saved to student_lab_matching.csv

,student_id,student_name,course_id,course_name,course_type,theory_day,theory_start_time,theory_end_time,lab_day,lab_start_time,lab_end_time
0,2501,A,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
1,2501,A,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
2,2501,A,3,Deep learning,Elective,Tuesday,12:00:00,14:00:00,Tuesday,16:00:00,18:00:00
3,2501,A,4,Natural Language Processing,Elective,Wednesday,08:00:00,10:00:00,Thursday,18:00:00,20:00:00
4,2502,B,11,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Friday,14:00:00,16:00:00
5,2502,B,12,International Diplomacy,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
6,2502,B,14,Global Ethics,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
7,2502,B,15,International Security,Elective,Wednesday,08:00:00,10:00:00,N/A,N/A,N/A
8,2503,C,6,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Thursday,10:00:00,12:00:00
9,2503,C,7,Economics 2,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
10,2503,C,8,Global Ethics,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
11,2503,C,9,Development Economics,Elective,Wednesday,08:00:00,10:00:00,Thursday,18:00:00,20:00:00
12,2504,D,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
13,2504,D,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
14,2504,D,4,Natural Language Processing,Elective,Wednesday,08:00:00,10:00:00,Wednesday,18:00:00,20:00:00
15,2504,D,5,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
16,2505,E,11,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Tuesday,10:00:00,12:00:00
17,2505,E,12,International Diplomacy,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
18,2505,E,13,UN Structure,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
19,2505,E,14,Global Ethics,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
20,2506,F,6,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Thursday,10:00:00,12:00:00
21,2506,F,7,Economics 2,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
22,2506,F,8,Global Ethics,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
23,2506,F,10,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
24,2507,G,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
25,2507,G,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
26,2507,G,3,Deep learning,Elective,Tuesday,12:00:00,14:00:00,Friday,08:00:00,10:00:00
27,2507,G,5,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A