test

In [1]:
#!pip install pulp
#!pip install seaborn

In [6]:
from algorithm_ILP_SQL import load_csvs_to_db, load_data_first, optimize_course_matching, load_data_second, check_time_conflict, optimize_lab_matching

In [7]:
load_data_first()

(    course_id                   course_name  mandatory  program_id  has_lab
 0           1              Machine Learning          1           1        1
 1           2  Data structure and algorithm          1           1        1
 2           3                 Deep learning          0           1        1
 3           4   Natural Language Processing          0           1        1
 4           5            Law and Governance          0           1        0
 5           6                  Statistics 2          1           2        1
 6           7                   Economics 2          1           2        1
 7           8                 Global Ethics          0           2        0
 8           9         Development Economics          0           2        1
 9          10            Law and Governance          0           2        0
 10         11                  Statistics 2          1           3        1
 11         12       International Diplomacy          1           3        1
 12         13                  UN Structure          0           3        0
 13         14                 Global Ethics          0           3        0
 14         15        International Security          0           3        0,
    student_id           name program  program_id  required_electives
 0        2501   Elena Murray     MDS           1                   2
 1        2502  Dominik Allen     MIA           3                   2
 2        2503   Corbin Cerny     MPP           2                   2
 3        2504  Juan Quinones     MDS           1                   2
 4        2505    Aditi Joshi     MIA           3                   2
 5        2506     Saurav Jha     MPP           2                   2
 6        2507     John Smith     MDS           1                   2,
    course_id                  course_name  capacity
 0          3                Deep learning         5
 1          4  Natural Language Processing         2
 2          5           Law and Governance         7
 3          8                Global Ethics         4
 4          9        Development Economics         5
 5         10           Law and Governance         4
 6         13                 UN Structure         8
 7         14                Global Ethics         4
 8         15       International Security         4,
     student_id  program_id  course_id  preference_rank
 0         2501           1          4                1
 1         2501           1          3                2
 2         2501           1          5                3
 3         2502           3         15                1
 4         2502           3         14                2
 5         2502           3         13                3
 6         2503           2          9                1
 7         2503           2          8                2
 8         2503           2         10                3
 9         2504           1          5                1
 10        2504           1          4                2
 11        2504           1          3                3
 12        2505           2         10                1
 13        2505           2          9                2
 14        2505           2         10                3
 15        2506           2          8                1
 16        2506           2         10                2
 17        2506           2          9                3
 18        2507           1         15                1
 19        2507           1         14                2
 20        2507           1         13                3)

In [8]:
optimize_course_matching()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/dmnkallen/miniconda3/envs/dsa/lib/python3.11/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/h2/cjz3psl56751427w176wxbqh0000gn/T/85ded00e1dc64619b2ef135eee923326-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/h2/cjz3psl56751427w176wxbqh0000gn/T/85ded00e1dc64619b2ef135eee923326-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 35 COLUMNS
At line 308 RHS
At line 339 BOUNDS
At line 417 ENDATA
Problem MODEL has 30 rows, 77 columns and 98 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 133 - 0.00 seconds
Cgl0004I processed model has 5 rows, 15 columns (15 integer (15 of which binary)) and 15 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -133
Cbc0038I Before mini branch and bound, 15 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I After 0.02 seconds - Feasibility pump exiting with objective of -133 - took 0.00 seconds
Cbc0012I Integer solution of -133 found by feasibility pump after 0 iterations and 0 nodes (0.02 seconds)
Cbc0001I Search completed - best objective -133, took 0 iterations and 0 nodes (0.02 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -133 to -133
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                133.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.02

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.03

Course matching completed. Results saved to student_course_matching table.

,student_id,student_name,course_type,course_id,course_name
0,2501,Elena Murray,Mandatory,1,Machine Learning
1,2501,Elena Murray,Mandatory,2,Data structure and algorithm
2,2501,Elena Murray,Elective,3,Deep learning
3,2501,Elena Murray,Elective,4,Natural Language Processing
4,2502,Dominik Allen,Mandatory,11,Statistics 2
5,2502,Dominik Allen,Mandatory,12,International Diplomacy
6,2502,Dominik Allen,Elective,14,Global Ethics
7,2502,Dominik Allen,Elective,15,International Security
8,2503,Corbin Cerny,Mandatory,6,Statistics 2
9,2503,Corbin Cerny,Mandatory,7,Economics 2
10,2503,Corbin Cerny,Elective,8,Global Ethics
11,2503,Corbin Cerny,Elective,9,Development Economics
12,2504,Juan Quinones,Mandatory,1,Machine Learning
13,2504,Juan Quinones,Mandatory,2,Data structure and algorithm
14,2504,Juan Quinones,Elective,4,Natural Language Processing
15,2504,Juan Quinones,Elective,5,Law and Governance
16,2505,Aditi Joshi,Mandatory,11,Statistics 2
17,2505,Aditi Joshi,Mandatory,12,International Diplomacy
18,2505,Aditi Joshi,Elective,13,UN Structure
19,2505,Aditi Joshi,Elective,14,Global Ethics
20,2506,Saurav Jha,Mandatory,6,Statistics 2
21,2506,Saurav Jha,Mandatory,7,Economics 2
22,2506,Saurav Jha,Elective,8,Global Ethics
23,2506,Saurav Jha,Elective,10,Law and Governance
24,2507,John Smith,Mandatory,1,Machine Learning
25,2507,John Smith,Mandatory,2,Data structure and algorithm
26,2507,John Smith,Elective,3,Deep learning
27,2507,John Smith,Elective,5,Law and Governance

In [9]:
load_data_second()

(    student_id   student_name course_type  course_id  \
 0         2501   Elena Murray   Mandatory          1
 1         2501   Elena Murray   Mandatory          2
 2         2501   Elena Murray    Elective          3
 3         2501   Elena Murray    Elective          4
 4         2502  Dominik Allen   Mandatory         11
 5         2502  Dominik Allen   Mandatory         12
 6         2502  Dominik Allen    Elective         14
 7         2502  Dominik Allen    Elective         15
 8         2503   Corbin Cerny   Mandatory          6
 9         2503   Corbin Cerny   Mandatory          7
 10        2503   Corbin Cerny    Elective          8
 11        2503   Corbin Cerny    Elective          9
 12        2504  Juan Quinones   Mandatory          1
 13        2504  Juan Quinones   Mandatory          2
 14        2504  Juan Quinones    Elective          4
 15        2504  Juan Quinones    Elective          5
 16        2505    Aditi Joshi   Mandatory         11
 17        2505    Aditi Joshi   Mandatory         12
 18        2505    Aditi Joshi    Elective         13
 19        2505    Aditi Joshi    Elective         14
 20        2506     Saurav Jha   Mandatory          6
 21        2506     Saurav Jha   Mandatory          7
 22        2506     Saurav Jha    Elective          8
 23        2506     Saurav Jha    Elective         10
 24        2507     John Smith   Mandatory          1
 25        2507     John Smith   Mandatory          2
 26        2507     John Smith    Elective          3
 27        2507     John Smith    Elective          5

                      course_name
 0               Machine Learning
 1   Data structure and algorithm
 2                  Deep learning
 3    Natural Language Processing
 4                   Statistics 2
 5        International Diplomacy
 6                  Global Ethics
 7         International Security
 8                   Statistics 2
 9                    Economics 2
 10                 Global Ethics
 11         Development Economics
 12              Machine Learning
 13  Data structure and algorithm
 14   Natural Language Processing
 15            Law and Governance
 16                  Statistics 2
 17       International Diplomacy
 18                  UN Structure
 19                 Global Ethics
 20                  Statistics 2
 21                   Economics 2
 22                 Global Ethics
 23            Law and Governance
 24              Machine Learning
 25  Data structure and algorithm
 26                 Deep learning
 27            Law and Governance  ,
     course_id                   course_name  allowed_for_program_id  lab  \
 0           1              Machine Learning                       1    1
 1           1              Machine Learning                       1    2
 2           2  Data structure and algorithm                       1    1
 3           2  Data structure and algorithm                       1    2
 4           3                 Deep learning                       1    1
 5           3                 Deep learning                       1    2
 6           4   Natural Language Processing                       1    1
 7           4   Natural Language Processing                       1    2
 8           6                  Statistics 2                       2    1
 9           6                  Statistics 2                       1    2
 10          7                   Economics 2                       2    1
 11          7                   Economics 2                       2    2
 12          9         Development Economics                       2    1
 13          9         Development Economics                       2    2
 14         11                  Statistics 2                       3    1
 15         11                  Statistics 2                       3    2
 16         12       International Diplomacy                       3    1
 17         12       International Diplomacy                       3    2

     id_day start_time  end_time  capacity
 0        3   10:00:00  12:00:00         3
 1        4   14:00:00  16:00:00         1
 2        3   16:00:00  18:00:00         2
 3        4   16:00:00  18:00:00         3
 4        2   16:00:00  18:00:00         1
 5        5   08:00:00  10:00:00         2
 6        4   18:00:00  20:00:00         2
 7        3   18:00:00  20:00:00         3
 8        4   10:00:00  12:00:00         1
 9        5   14:00:00  16:00:00         3
 10       3   16:00:00  18:00:00         1
 11       4   16:00:00  18:00:00         2
 12       4   18:00:00  20:00:00         1
 13       3   18:00:00  20:00:00         2
 14       2   10:00:00  12:00:00         1
 15       5   14:00:00  16:00:00         2
 16       3   16:00:00  18:00:00         1
 17       4   16:00:00  18:00:00         2  ,
 {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday'},
     student_id  program_id  course_id  lab  preference_rank
 0         2501           1          1    2                1
 1         2501           1          1    1                2
 2         2501           1          2    1                1
 3         2501           1          2    2                2
 4         2501           1          3    1                1
 5         2501           1          3    2                2
 6         2501           1          4    1                1
 7         2502           3         11    2                1
 8         2502           3         11    1                2
 9         2502           3         12    1                1
 10        2502           3         12    2                2
 11        2503           2          6    1                1
 12        2503           2          6    2                2
 13        2503           2          7    2                1
 14        2503           2          7    1                2
 15        2503           2          9    1                1
 16        2503           2          9    2                2
 17        2504           1          1    1                2
 18        2504           1          1    2                1
 19        2504           1          2    1                1
 20        2504           1          2    2                2
 21        2504           1          3    2                1
 22        2504           1          3    1                2
 23        2504           1          4    2                1
 24        2504           1          4    1                2
 25        2505           2          6    1                1
 26        2505           2          6    2                2
 27        2505           2          7    2                1
 28        2505           2          7    1                2
 29        2505           2          9    1                1
 30        2505           2          9    2                2
 31        2506           2          6    1                1
 32        2506           2          6    2                2
 33        2506           2          7    2                1
 34        2506           2          7    1                2
 35        2506           2          9    1                1
 36        2506           2          9    2                2
 37        2507           1          1    2                1
 38        2507           1          1    1                2
 39        2507           1          2    2                1
 40        2507           1          2    1                2
 41        2507           1          3    2                1
 42        2507           1          3    1                2
 43        2507           1          4    2                1
 44        2507           1          4    1                2,
     course_id                   course_name  id_day start_time  end_time
 0           1              Machine Learning       1   08:00:00  10:00:00
 1           2  Data structure and algorithm       2   16:00:00  18:00:00
 2           3                 Deep learning       2   12:00:00  14:00:00
 3           4   Natural Language Processing       3   08:00:00  10:00:00
 4           5            Law and Governance       1   14:00:00  16:00:00
 5           6                  Statistics 2       1   08:00:00  10:00:00
 6           7                   Economics 2       2   16:00:00  18:00:00
 7           8                 Global Ethics       2   12:00:00  14:00:00
 8           9         Development Economics       3   08:00:00  10:00:00
 9          10            Law and Governance       1   14:00:00  16:00:00
 10         11                  Statistics 2       1   08:00:00  10:00:00
 11         12       International Diplomacy       2   16:00:00  18:00:00
 12         13                  UN Structure       2   12:00:00  14:00:00
 13         14                 Global Ethics       1   14:00:00  16:00:00
 14         15        International Security       3   08:00:00  10:00:00,
     course_id                   course_name  mandatory  program_id  has_lab
 0           1              Machine Learning          1           1        1
 1           2  Data structure and algorithm          1           1        1
 2           3                 Deep learning          0           1        1
 3           4   Natural Language Processing          0           1        1
 4           5            Law and Governance          0           1        0
 5           6                  Statistics 2          1           2        1
 6           7                   Economics 2          1           2        1
 7           8                 Global Ethics          0           2        0
 8           9         Development Economics          0           2        1
 9          10            Law and Governance          0           2        0
 10         11                  Statistics 2          1           3        1
 11         12       International Diplomacy          1           3        1
 12         13                  UN Structure          0           3        0
 13         14                 Global Ethics          0           3        0
 14         15        International Security          0           3        0)

In [11]:
optimize_lab_matching()

Initial Data Analysis:
Total students in course matching: 7
Total lab time entries: 18
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/dmnkallen/miniconda3/envs/dsa/lib/python3.11/site-packages/pulp/apis/../solverdir/cbc/osx/i64/cbc /var/folders/h2/cjz3psl56751427w176wxbqh0000gn/T/c50ae0629cd94965b253987be9933e1d-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/h2/cjz3psl56751427w176wxbqh0000gn/T/c50ae0629cd94965b253987be9933e1d-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 24 COLUMNS
At line 172 RHS
At line 192 BOUNDS
At line 231 ENDATA
Problem MODEL has 19 rows, 38 columns and 38 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 153 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -153 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                153.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.02

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.03


Solver Status: Optimal
Course matching completed. Results saved to student_lab_matching.csv

,student_id,student_name,course_id,course_name,course_type,theory_day,theory_start_time,theory_end_time,lab_day,lab_start_time,lab_end_time
0,2501,Elena Murray,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
1,2501,Elena Murray,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
2,2501,Elena Murray,3,Deep learning,Elective,Tuesday,12:00:00,14:00:00,Tuesday,16:00:00,18:00:00
3,2501,Elena Murray,4,Natural Language Processing,Elective,Wednesday,08:00:00,10:00:00,Thursday,18:00:00,20:00:00
4,2502,Dominik Allen,11,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Friday,14:00:00,16:00:00
5,2502,Dominik Allen,12,International Diplomacy,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
6,2502,Dominik Allen,14,Global Ethics,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
7,2502,Dominik Allen,15,International Security,Elective,Wednesday,08:00:00,10:00:00,N/A,N/A,N/A
8,2503,Corbin Cerny,6,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Thursday,10:00:00,12:00:00
9,2503,Corbin Cerny,7,Economics 2,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
10,2503,Corbin Cerny,8,Global Ethics,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
11,2503,Corbin Cerny,9,Development Economics,Elective,Wednesday,08:00:00,10:00:00,Thursday,18:00:00,20:00:00
12,2504,Juan Quinones,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
13,2504,Juan Quinones,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Wednesday,16:00:00,18:00:00
14,2504,Juan Quinones,4,Natural Language Processing,Elective,Wednesday,08:00:00,10:00:00,Wednesday,18:00:00,20:00:00
15,2504,Juan Quinones,5,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
16,2505,Aditi Joshi,11,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Tuesday,10:00:00,12:00:00
17,2505,Aditi Joshi,12,International Diplomacy,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
18,2505,Aditi Joshi,13,UN Structure,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
19,2505,Aditi Joshi,14,Global Ethics,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
20,2506,Saurav Jha,6,Statistics 2,Mandatory,Monday,08:00:00,10:00:00,Thursday,10:00:00,12:00:00
21,2506,Saurav Jha,7,Economics 2,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
22,2506,Saurav Jha,8,Global Ethics,Elective,Tuesday,12:00:00,14:00:00,N/A,N/A,N/A
23,2506,Saurav Jha,10,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A
24,2507,John Smith,1,Machine Learning,Mandatory,Monday,08:00:00,10:00:00,Thursday,14:00:00,16:00:00
25,2507,John Smith,2,Data structure and algorithm,Mandatory,Tuesday,16:00:00,18:00:00,Thursday,16:00:00,18:00:00
26,2507,John Smith,3,Deep learning,Elective,Tuesday,12:00:00,14:00:00,Friday,08:00:00,10:00:00
27,2507,John Smith,5,Law and Governance,Elective,Monday,14:00:00,16:00:00,N/A,N/A,N/A